.side_content {
  font-size: x-small;
}

.directory {
  font-size: x-small;
}

.directory h3 {
  margin: 1em 0 0;
  font-size: 9pt;
}

.directory p {
  margin: 0;
  white-space: nowrap;
}

.directory div {
  display: none;
  margin: 0;
}

.directory img {
  vertical-align: middle;
}

.menu {
  white-space: nowrap;
  font-size: 9pt;
}

.menu a.active {
  color: darkred;
  font-weight: bold;
  text-decoration: none;
}

/*noinspection CssUnusedSymbol*/
.searchword {
  background-color: yellow;
}
