<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSMinimumSystemVersion</key>
    <string>10.7.4</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>ChmWeb</string>
    <key>CFBundleIconFile</key>
    <string>ChmWeb.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.jchmlib.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ChmWeb</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.5.4</string>
    <key>CFBundleSignature</key>
    <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
    <key>LSApplicationCategoryType</key>
    <string>Unknown</string>
    <key>CFBundleVersion</key>
    <string>100</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (C) 2017 chimenchen</string>
    <key>JVMRuntime</key>
    <string>jdk</string>
    <key>JVMMainClassName</key>
    <string>org.jchmlib.app.ChmWebApp</string>
    <key>JVMAppClasspath</key>
    <string></string>
    <key>JVMMainJarName</key>
    <string>ChmWeb-0.5.4.jar</string>
    <key>JVMPreferencesID</key>
    <string>org/jchmlib/app</string>
    <key>JVMOptions</key>
    <array>

    </array>
    <key>JVMUserOptions</key>
    <dict>

    </dict>
    <key>NSHighResolutionCapable</key>
    <string>true</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>CHM File</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.microsoft.chm-archive</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>ChmWeb.icns</string>
      </dict>
    </array>

    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
          <string>public.archive</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Compiled HTML Archive</string>
        <key>UTTypeIconFile</key>
        <string>ChmWeb.icns</string>
        <key>UTTypeIdentifier</key>
        <string>com.microsoft.chm-archive</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>chm</string>
            <string>CHM</string>
          </array>
        </dict>
      </dict>
    </array>

  </dict>
</plist>
